
.item-order {
    width: 60%;
    text-decoration: none;
    color: #000000;
    display: block;
    margin: auto;
}

.cont-Sell {
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.395);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.cont-Sell-info {
    font-size: 15px;
}

.cont-Sell-info span{
    font-size: 15px;
    color: #989898;
}


.cont-Sell-cost {
    font-size: 15px;
}

.cont-Sell-cost span{
    font-size: 16px;
    font-weight: 700;
}