header, nav ul {
    display: flex;
}

header {
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
} 

nav ul li {
    padding: 8px;
    color: black;
}

nav ul li button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.navLink {
    color: black;
    text-decoration: none;
}

.navLink:hover, .navLink.active {
    text-decoration: solid underline purple 4px;
    text-underline-offset: 8px;
}

.cart {
    color: black;
}